<div class="form-head">
    <h2 class="pull-left title">Pemasok</h2>
    <a class="btn btn-info btn-preposition-header" href="/supplier/new">
        <i class="glyphicon glyphicon-plus"></i>
    </a>

    <input type="text" ng-model="search" class="pull-right" placeholder="Pencarian" />
    <br class="clearfix"/>
</div>

<table class="table">
    <tr>
        <th>Nama</th>
        <th>Alamat</th>
        <th>Kontak</th>
        <th>Action</th>
    </tr>

    <tbody ng-repeat="d in data | filter:search">
        <tr>
            <td ng-bind-html-unsafe="d.name | highlight:search"/>
            <td ng-bind-html-unsafe="d.address || '-' | highlight:search"/>
            <td ng-bind-html-unsafe="d.contact || '-' | highlight:search"/>
            <td>
                <a href=# collapse-table ng-click="itemList(d._id)">Detail</a>
                |
                <a ng-href="/supplier/{{ d._id }}">Edit</a>
                |
                <a href=# ng-click="remove(d._id)">Delete</a>
            </td>
        </tr>

        <tr class=dark-table-background>
            <td />
            <td colspan=3>
                <table class="table table-bordered">
                    <tr class=dark-footer-table>
                        <th>No</th>
                        <th>Nama Barang</th>
                        <th>Stok</th>
                        <th>Harga Beli</th>
                    </tr>
                    <tr ng-repeat="item in itemlist(d._id)">

                    </tr>
                </table>
            </td>
        </tr>
    </tbody>

</table>
