<div>
    <div class=pull-left>
        <h2 class="pull-left title">Pemasok</h2>
        <a class="btn btn-primary btn-preposition-header" href="/supplier/new">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </div>

    <div style="width: 200px" class="pull-right">
        <input type=search ng-model=search ng-show=data class="form-control" placeholder="Pencarian" />
    </div>

    <div class=clearfix>
</div>

<table class="table" ng-show="data || data | filter:search">
    <tr>
        <th>Nama</th>
        <th>Alamat</th>
        <th>Kontak</th>
        <th>Action</th>
    </tr>

    <tbody ng-repeat="d in data | filter:search">
        <tr>
            <td ng-bind-html-unsafe="d.name | highlight:search"/>
            <td ng-bind-html-unsafe="d.address || '-' | highlight:search"/>
            <td ng-bind-html-unsafe="d.contact || '-' | highlight:search"/>
            <td>
                <a href=#
                   ng-click="itemlist(d._id)"
                   ng-show=d.items.length
                   ng-class="{true: 'label label-info', false: ''}[collapseSupplier[d._id]]">Detail</a>
                <span class=disabled-text ng-hide=d.items.length>Detail</span>
                |
                <a ng-href="/supplier/{{ d._id }}">Edit</a>
                |
                <a href=# ng-click="remove(d._id)">Delete</a>
            </td>
        </tr>

        <tr class=dark-table-background ng-show="collapseSupplier[d._id]">
            <td colspan=5 class=row>
                <div class=col-lg-6>
                    <table class="table table-bordered">
                        <tr class=dark-footer-table>
                            <th>No</th>
                            <th>Nama Barang</th>
                            <th>Stok</th>
                            <th>Harga Beli</th>
                        </tr>
                        <tr ng-repeat="item in d.items" ng-class="{'danger': stockStatus.isEmpty($parent.$index, $index), 'warning': stockStatus.isWarning($parent.$index, $index) }">
                            <td ng-bind-html-unsafe="$index + 1" />
                            <td ng-bind-html-unsafe="item.name | highlight:search" />
                            <td ng-bind-html-unsafe="item.stock || '0' | highlight:search" />
                            <td ng-bind-html-unsafe="item.purchase_price || '0' | highlight:search" />
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="panel panel-default" ng-hide=data>
    <div class=panel-body>
        Klik tombol + utk menambah data
    </div>
</div>

<div class="panel panel-default" ng-hide="!(data && search) || (data | filter:search)">
    <div class=panel-body>
        Data tidak ditemukan
    </div>
</div>
