<form class=form-horizontal name=addForm>
    <!-- name -->
    <div class=form-group>
        <label for=name>Nama</label>
        <input type=text name=name id=name class=form-control ng-model=supplier.name autocomplete=off maxlength=30 required autofocus />
    </div>

    <!-- address -->
    <div class=form-group>
        <label for=address>Alamat</label>
        <input type=text name=address id=address class=form-control ng-model=supplier.address autocomplete=off maxlength=50 />
    </div>

    <!-- contact -->
    <div class=form-group>
        <label for=contact>Kontak</label>
        <input type=text name=contact id=contact class=form-control ng-model=supplier.contact autocomplete=off maxlength=50 />
    </div>

    <!-- submit -->
    <div class=form-group>
        <button class="btn btn-primary" ng-click=add() ng-disabled=!addForm.$valid>Save</button>
    </div>
</form>
