body { background-color: #f6f6f6 }

#content {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 22px 32px;
    margin-top: 65px
}

.content {
    margin-top: 25px;
}

table {
    margin-top: 20px;
}

.btn-preposition-header {
    margin-top: 15px;
    margin-left: 15px;
}

.title { color: #1f6377; }

.title-login {
    text-align: center;
    margin-bottom: 40px;
    font: 2.5em 'SansationRegular', sans-serif;
}

.home { font: 2.0em 'SansationRegular', sans-serif }

.dark-table-background {
    background: #f6f6f6;
    border-bottom: 3px solid #ddd;
}

.dark-footer-table { background: #eee }

/*
.red-link, .red-link:hover { color: #b94a48 }
.underline { text-decoration: underline}
*/

.disabled-text {
    color: #999;
    text-decoration: line-through;
}

.ui-match {
    background: yellow;
    border: 1px solid orange;
}

.active .badge-info {
    background: #f6f6f6;
    color: #3a87ad;
}

.badge-menu { margin-left: 7px }

.select2-container { width: 260px }

.table tbody+tbody { border-top: none }

.centered {
    float: none;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
}

.table.table-editable td:hover { cursor: pointer; background: #f0f7fd }
.table.table-editable tr.warning td:hover { background: #edede4 }
.table.table-editable tr.danger td:hover { background: #ede3e3 }
