<div class=row>
    <div class="col-lg-9">
        <h2 class="pull-left title">Barang</h2>
    </div>

    <div class="col-lg-3 form-inline">
        <div class=form-group>
            <input type=search ng-model=search ng-show=data class=form-control placeholder=Pencarian />
        </div>

        <button class="btn btn-default"
           button-toggle=active
           ng-class="{'pull-right': data}"
           ng-model=showNewForm>
            <i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>
</div>

<div class=row role=main>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right well well-lg"
         ng-show=showNewForm
         ng-include
         src="'/template/item/new.html'" />

    <div ng-class="{true: 'col-lg-9 col-md-9 col-sm-9', false: 'col-lg-12'}[showNewForm]">
        <table class="table" ng-show="data || data | filter:search">
            <tr>
                <th>Nama</th>
                <th>Stok</th>
                <th>Harga Beli</th>
                <th>Harga Jual</th>
                <th>Pemasok</th>
                <th>Action</th>
            </tr>

            <tr ng-repeat="d in data | filter:search" ng-class="{'danger': stockStatus.isEmpty($index), 'warning': stockStatus.isWarning($index) }">
                <td ng-bind-html-unsafe="d.name | highlight:search" contenteditable />
                <td ng-bind-html-unsafe="d.stock || '-' | highlight:search" contenteditable />
                <td ng-bind-html-unsafe="d.purchase_price | rupiah | highlight:search" contenteditable />
                <td ng-bind-html-unsafe="d.sales_price | rupiah | highlight:search" contenteditable />
                <td ng-bind-html-unsafe="d.supplier_id.name || '-' | highlight:search" contenteditable />
                <td><confirm-delete ng-click="remove(d._id)" /></td>
            </tr>
        </table>
    </div>

    <div class="panel panel-default"
         ng-class="{true: 'col-lg-9 col-md-9 col-sm-9', false: 'col-lg-12'}[showNewForm]"
         ng-hide=data>
        <div class=panel-body>
            Klik tombol + utk menambah data
        </div>
    </div>

    <div class="panel panel-default"
         ng-class="{true: 'col-lg-9 col-md-9 col-sm-9', false: 'col-lg-12'}[showNewForm]"
         ng-hide="!(data && search) || (data | filter:search)">
        <div class=panel-body>
            Data tidak ditemukan
        </div>
    </div>

</div>
