<ul class="nav nav-list" ng-controller=MenuController>
    <li class=home><a href=/#!>PD Teman Ban</a></li>

    <li class=nav-header>BASIC</li>
    <li active-link><a href=/#!/item>Barang</a></li>
    <li active-link><a href=/#!/supplier>Pemasok</a></li>
    <li active-link><a href=/#!/customer>Pelanggan</a></li>

    <li class=divider></li>

    <li class=nav-header>FAKTUR</li>
    <li active-link><a href=/#!/purchase_invoice>Faktur Pembelian</a></li>
    <li active-link><a href=/#!/sale_invoice>Faktur Penjualan</a></li>

    <li class=divider></li>

    <li class=nav-header>TRANSAKSI</li>
    <li active-link><a href=/#!/purchase_transaction>Transaksi Pembelian</a></li>
    <li active-link><a href=/#!/sale_transaction>Transaksi Penjualan</a></li>

    <li class=divider></li>

    <li class=nav-header>ACCOUNT</li>
    <li active-link><a href=/#!/login ng-hide=isLoggedIn()>Login</a></li>
    <li active-link><a href=/#! ng-click=logout() ng-show=isLoggedIn()>Logout</a></li>
</ul>
