<div class=navbar-header>
    <button type=button class=navbar-toggle data-toggle=collapse data-target=.navbar-menu-collapse>
        <span class=sr-only>Toggle Navigation</span>
        <span class=icon-bar />
        <span class=icon-bar />
        <span class=icon-bar />
    </button>
    <a class="navbar-brand home title" href=/#/ >PD Teman Ban</a>
</div>

<div class="collapse navbar-collapse navbar-menu-collapse" ng-controller=MenuController>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="javascript:void(0)"
               ng-click="removeNewNotificationStatus()"
               ng-show="notifications.length"
               class=dropdown-toggle
               data-toggle=dropdown>
                <i class="glyphicon glyphicon-comment" ng-class="{'animate-highlight-notification': newNotification}"></i>
            </a>

            <a href="javascript:void(0)" class="dropdown-toggle disabled-dropdown" ng-show="!notifications.length">
                <i class="glyphicon glyphicon-comment"></i>
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:void(0)" ng-click=clearAllNotification()>
                        Clear
                    </a>
                </li>
                <li class=divider />
                <li class=dropdown-header>Ada {{ notifications.length }} pemberitahuan</li>
                <li class=dropdown-submenu ng-repeat="notification in notifications | orderBy:'date':true">
                    <a class=dropdown-toggle data-toggle=dropdown href="javascript:void(0)">
                        <span class="label {{ notification.labelAction }}">{{ notification.date }}</span>
                        {{ notification.msg }}
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class=dropdown-toggle
                                data-toggle=dropdown
                                href="javascript:void(0)"
                                ng-bind-html-unsafe="notification.detail">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li active-link ng-show="onlyFor(['Sales','Manager'])"><a href=/#/item>
            <span class="badge badge-menu pull-right" ng-bind=count.item ng-show=count.item />
            Barang
        </a></li>
        <li active-link ng-show="onlyFor(['Sales','Manager'])"><a href=/#/supplier>
            <span class="badge badge-menu pull-right" ng-bind=count.supplier ng-show=count.supplier />
            Pemasok
        </a></li>
        <li active-link ng-show="onlyFor(['Sales','Manager'])"><a href=/#/customer>
            <span class="badge badge-menu pull-right" ng-bind=count.customer ng-show=count.customer />
            Pelanggan
        </a></li>

        <li active-link ng-show="onlyFor(['Sales','Manager'])" class="dropdown">
            <a href="javascript:void(0)" class=dropdown-toggle data-toggle=dropdown>
                Faktur
                <b class=caret></b>
            </a>
            <ul class="dropdown-menu">
                <li active-link><a href=/#/invoice/purchase>
                    <span class="badge badge-menu pull-right" ng-bind=count.supplier ng-show=count.invoice_purchase />
                    Faktur Pembelian
                </a></li>
                <li active-link><a href=/#/invoice/sales>
                    <span class="badge badge-menu pull-right" ng-bind=count.customer ng-show=count.invoice_sales />
                    Faktur Penjualan
                </a></li>
            </ul>
        </li>


        <li class="dropdown" ng-show="onlyFor(['Sales','Manager'])">
            <a href="javascript:void(0)" class=dropdown-toggle data-toggle=dropdown>
                Transaksi
                <b class=caret></b>
            </a>
            <ul class="dropdown-menu">
                <li active-link><a href=/#/transaction/purchase>
                    Transaksi Pembelian
                </a></li>
                <li><a href=/#/transaction/sales>
                    Transaksi Penjualan
                </a></li>
            </ul>
        </li>

        <li active-link ng-show="onlyFor(['Manager','Komisaris'])"><a href=/#/statistic>
            Statistik
        </a></li>

        <ul class="nav navbar-nav pull-right" style="position: absolute; right: 0">
            <li class="dropdown">
                <a href="javascript:void(0)" class=dropdown-toggle data-toggle=dropdown>
                    Welcome, {{ currentUser }}!
                    <b class=caret></b>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li active-link ng-show="onlyFor(['Manager'])"><a href="/#/user">Account</a></li>
                    <li><a href=/login.html ng-click=logout()>Logout</a></li>
                </ul>
            </li>
        </ul>
    </ul>
</div>
