<div>
    <div class=pull-left>
        <h2 class="pull-left title">Pelanggan</h2>
        <a class="btn btn-primary btn-preposition-header" href="/customer/new">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </div>

    <div style="width: 200px" class="pull-right">
        <input type=search ng-model=search ng-show=data class="form-control" placeholder="Pencarian" />
    </div>

    <div class=clearfix>
</div>

<table class="table" ng-show="data || data | filter:search">
    <tr>
        <th>Nama</th>
        <th>Alamat</th>
        <th>Kontak</th>
        <th>Action</th>
    </tr>

    <tr ng-repeat="d in data | filter:search">
        <td ng-bind-html-unsafe="d.name | highlight:search"/>
        <td ng-bind-html-unsafe="d.address || '-' | highlight:search"/>
        <td ng-bind-html-unsafe="d.contact || '-' | highlight:search"/>
        <td>
            <a ng-href="/customer/{{ d._id }}">Edit</a>
            |
            <a href=# ng-click="remove(d._id)">Delete</a>
        </td>
    </tr>
</table>

<div class="panel panel-default" ng-hide=data>
    <div class=panel-body>
        Klik tombol + utk menambah data
    </div>
</div>

<div class="panel panel-default" ng-hide="!(data && search) || (data | filter:search)">
    <div class=panel-body>
        Data tidak ditemukan
    </div>
</div>
