<div class=row>
    <div class="col-lg-9">
        <h2 class="pull-left title">Pelanggan</h2>
    </div>

    <div class="col-lg-3 form-inline">
        <div class=form-group>
            <input type=search ng-model="search" ng-show=data class=form-control placeholder=Pencarian />
        </div>

        <button class="btn btn-default"
           btn-checkbox
           ng-class="{'pull-right': data}"
           ng-model=showNewForm>
            <i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>
</div>

<div class=row role=main>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right well well-lg"
         ng-show=showNewForm
         ui-view />

    <div ng-class="{true: 'col-lg-9 col-md-9 col-sm-9', false: 'col-lg-12'}[showNewForm]">
        <table class="table table-editable" ng-show="data || data | filter:search">
            <tr>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Kontak</th>
                <th>Action</th>
            </tr>

            <tbody ng-repeat="d in data | filter:search">
                <tr>
                    <td xeditable
                        data-original-title="Edit nama"
                        data-type="text"
                        data-placeholder="Required"
                        data-url="/api/customers"
                        data-pk="{{ d._id }}"
                        data-name="name"
                        data-field="Nama"
                        data-category="customer"
                        ng-model="d.name"
                        ng-bind-html-unsafe="d.name | highlight:search" />

                    <td xeditable
                        data-original-title="Edit alamat"
                        data-type="text"
                        data-placeholder="Required"
                        data-url="/api/customers"
                        data-pk="{{ d._id }}"
                        data-name="address"
                        data-category="customer"
                        data-field="Alamat"
                        ng-model="d.address"
                        ng-bind-html-unsafe="d.address | highlight:search" />

                    <td xeditable
                        data-original-title="Edit kontak"
                        data-type="text"
                        data-placeholder="Required"
                        data-url="/api/customers"
                        data-pk="{{ d._id }}"
                        data-name="contact"
                        data-category="customer"
                        data-field="Kontak"
                        ng-model="d.contact"
                        ng-bind-html-unsafe="d.contact | highlight:search" />

                    <td><confirm-delete ng-click="remove(d._id)" /></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel panel-default"
         ng-class="{true: 'col-lg-9 col-md-9 col-sm-9', false: 'col-lg-12'}[showNewForm]"
         ng-hide=data>
        <div class=panel-body>
            Klik tombol + utk menambah data
        </div>
    </div>

    <div class="panel panel-default"
         ng-class="{true: 'col-lg-9 col-md-9 col-sm-9', false: 'col-lg-12'}[showNewForm]"
         ng-hide="!(data && search) || (data | filter:search)">
        <div class=panel-body>
            Data tidak ditemukan
        </div>
    </div>

</div>
