<div class="form-head">
    <h2 class="pull-left title">Pelanggan</h2>
    <a class="btn btn-info btn-preposition-header" href="/customer/new">
        <i class="glyphicon glyphicon-plus"></i>
    </a>

    <div class="navbar-form pull-right" ng-show=data>
        <input type="text" ng-model="search" class="search-query" placeholder="Pencarian" />
    </div>
    <br class="clearfix"/>
</div>

<table class="table" ng-show="data || data | filter:search">
    <tr>
        <th>Nama</th>
        <th>Alamat</th>
        <th>Kontak</th>
        <th>Action</th>
    </tr>

    <tr ng-repeat="d in data | filter:search">
        <td ng-bind-html-unsafe="d.name | highlight:search"/>
        <td ng-bind-html-unsafe="d.address || '-' | highlight:search"/>
        <td ng-bind-html-unsafe="d.contact || '-' | highlight:search"/>
        <td>
            <a ng-href="/customer/{{ d._id }}">Edit</a>
            |
            <a href=# ng-click="remove(d._id)">Delete</a>
        </td>
    </tr>
</table>

<pre ng-hide=data>
Klik tombol <span class="label label-info">+</span> utk menambah data
</pre>

<pre ng-hide="!(data && search) || (data | filter:search)">Data tidak ditemukan</pre>
