<div class=row>
    <div class="col-lg-9">
        <h2 class="pull-left title">Transaksi Pembelian</h2>
    </div>

    <div class="col-lg-3">
        <div class=form-group>
            <input type=text
                   class=form-control
                   ng-model=code
                   style="margin-bottom: 5px">
            <input type=date
                   class=form-control
                   ng-model=datetime>
        </div>
    </div>
</div>

<div class=row role=main>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right">
        <select id=suppliers
                class=form-control
                style="margin-bottom: 5px"
                ng-model=supplier
                ng-disabled=cart.length
                ng-options="supplier._id as supplier.name for supplier in suppliers">
            <option value="" disabled>-- Pilih Pemasok --</option>
        </select>

        <select id=items
                class=form-control
                size=15
                required
                ng-model=item
                ng-show="supplier"
                ng-dblclick="addToCart()"
                ng-disabled="(items | filter:supplier).length == 0"
                ng-options="item._id as item.name for item in filteredItems()">
        </select>

        <select class=form-control disabled size=15 ng-hide="supplier" />
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9">
        <table class="table table-editable" ng-show="cart.length">
            <tr>
                <th>Nama</th>
                <th>Stok</th>
                <th>Harga</th>
                <th>Total</th>
                <th>
                    <a href=# ng-show=cart.length ng-click=clearAll()>Clear All</a>
                </th>
            </tr>

            <tr ng-repeat="c in cart">
                <td ng-bind-html-unsafe="c.name" />

                <td xeditable
                    data-original-title="Edit stok (max {{ c.stock}})"
                    data-type="number"
                    data-placeholder="Required"
                    data-min=1
                    data-max="{{ c.stock}}"
                    data-nocommit
                    data-id="{{ c._id }}"
                    ng-init="c.qty = 1"
                    ng-model="c.qty"
                    ng-bind-html-unsafe="c.qty" />

                <td ng-bind-html-unsafe="c.purchase_price | currency:'IDR'" />

                <td ng-model=c.total
                    ng-bind-html-unsafe="c.qty * c.purchase_price | currency:'IDR'" />

                <td><a href="javascript:void(0)" ng-click="clear($index)">Clear</a></td>
            </tr>
        </table>
    </div>

    <div class="panel panel-default col-lg-9" ng-hide="cart.length">
        <div class=panel-body>
            Klik tombol + utk menambah data
        </div>
    </div>
</div>
