<div class=row>
    <div class="col-lg-9 col-md-8 col-sm-7">
        <h2 class="pull-left title">Transaksi Pembelian</h2>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-5">
        <div class=form-group>
            <div class="input-group" style="margin-bottom: 5px">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
                <input type=text
                       class=form-control
                       placeholder="Tanggal"
                       readonly
                       value="{{ datetime | date:'dd MMM y hh:mm:ss' }}" />
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-tag"></i>
                </span>
                <input type=text
                       id=invoice_code
                       class=form-control
                       placeholder="Kode faktur"
                       ng-model=code />
            </div>
        </div>
    </div>
</div>

<div class=row role=main>
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pull-right">
        <div class="input-group" style="margin-bottom: 5px">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </span>
            <select id=suppliers
                    class=form-control
                    ng-model=supplier
                    ng-disabled=cart.length
                    ng-options="supplier._id as supplier.name for supplier in suppliers">
                <option value="" disabled>-- Pilih Pemasok --</option>
            </select>
        </div>

        <select id=items
                class=form-control
                size=15
                required
                ng-model=item
                ng-show="supplier"
                ng-dblclick="addToCart()"
                ng-disabled="(items | filter:supplier).length == 0"
                ng-options="item._id as item.name for item in filteredItems()">
        </select>

        <select class=form-control disabled size=15 ng-hide="supplier" />
    </div>

    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 table-responsive">
        <table class="table table-editable" ng-show="cart.length">
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Stok</th>
                <th>Harga</th>
                <th>Total</th>
                <th style="width: 200px" />
            </tr>

            <tr ng-repeat="c in cart">
                <td ng-bind="$index + 1" />
                <td ng-bind-html-unsafe="c.name" />

                <td style="width:100px">
                    <form>
                        <input type=number
                               class=form-control
                               min=1
                               ng-change=grandTotal()
                               data-id="{{ c._id }}"
                               autofocus
                               ng-model=c.qty
                               ng-init="c.qty=1" />
                    </form>
                </td>

                <td ng-bind-html-unsafe="c.purchase_price | currency:'IDR'" />

                <td style="width: 200px"
                    ng-model=c.total
                    ng-bind-html-unsafe="c.qty * c.purchase_price | currency:'IDR'" />

                <td><a href="javascript:void(0)" ng-click="clear($index)">Clear</a></td>
            </tr>

            <tr>
                <th colspan=4 />
                <th ng-bind="grandTotal()"></th>
                <th>
                    <a href="javascript:void(0)" class="btn btn-primary" ng-show=cart.length ng-click=submit() ng-disabled="!code">Submit</a>
                    <a href="javascript:void(0)" class="btn btn-default" ng-show=cart.length ng-click=clearAll()>Clear All</a>
                </th>
            </tr>
        </table>
    </div>

    <div class="panel panel-default col-lg-9 col-md-8 col-sm-7 col-xs-11" ng-hide="cart.length">
        <div class=panel-body>
            Silahkan isi kode faktur, pilih pemasok dan barang
        </div>
    </div>
</div>
